

<div class="large-12 columns album">
  <hr>

  <div class="main-head large-8 columns large-centered">
    <h1 id='main-header'>My Album</h1>
  </div>
    
  <hr>

  <div class='new-button'>
    <%= link_to "New", new_photo_path, :class => 'large button expand round-corners'  %>
  </div>

  <ul>
    <%@photos.each do |photo| %>
      <li>
        <div class="large-3 columns thumbnail">
          <a href="<%= photo_path(photo)%>"><img src='<%= photo.url %>'></a>
        </div>
      </li>
    <% end %>
  </ul>

  <hr>

</div>